::-webkit-scrollbar{
    width: 5px;   

 background-color: #777777;

}

::-webkit-scrollbar-thumb{
background-color: #5ABE77;
border-radius: 10px;


   }

   /** Scroll Reveal */
   .home--texts{
      visibility: hidden;
   }
   