body {
    background-color: #181818;
    background-position: center center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    min-height: 100%;
}

/** Início DO CABEÇALHO **/
.header{
    width: 100%;
}

.header.active{
    position: fixed;
    top: 0;
    background-color: #000836;
    z-index: 999;
    border-bottom: 1px solid #FF1282;
}


.navigation{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 60px;
    
}

.items-nav {
    list-style: none;
    display: flex;
    position: relative;
   
}
.items-nav a{
    font-family: 'Cabin', sans-serif;
}

.menu-mobile div{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 8px;
    transition: .5s;
}

.menu-mobile{
    display: none;
    transition: .5s ease-in;
}

.item-link{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(163, 161, 161);
    position: relative;
    transition: 0.5s;
}

.item-link:hover {
    color: #ffffff;
}



nav a::after {
    content: '';
    height: 2px;
    background-color: #7BCB92;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}

.navigation.active .sm-header{
    display: flex;
}
.sm-header {  
    position: absolute;
    bottom: 20px;
    display: none;
    align-items: center;
    gap: 30px;
 
}
.icons--header{
    color: #E4E6E7;
    font-size: 40px;
}
/** FIM DO CABEÇALHO **/


/** Início do conteúdo primário (HOME) **/
.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.home--texts{
display: flex;
flex-direction: column;
gap: 30px;
justify-content: center;
align-items: center;
width: 100%;
}


.home--texts h1 {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
  
}


.list-tecs-home{
display: flex;
gap: 20px;
}

.img-tecs-home{
    width: 32px;
    height: 32px;
}

.buttons-home{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.btn--aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    height: 35px;
    border: 2px solid #E4E6E7;
    border-radius: 12px;
    background-color: #263338;
    transition: 0.5s all;
}

.btn--aboutme:hover {
    background-color: #777777;
}


.link--aboutme {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.btn-cv{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: auto;

    height: 35px;
    border: 2px solid #E4E6E7;
    border-radius: 12px;
    background-color: #263338;
    transition: 0.5s all;
}

.link-cv {
    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.btn-cv:hover {
    background-color: #777777;
}

@keyframes arrowDown{
    to {
        transform: translateY(3px);
    }
}


.arrowDown--btn {
    animation: arrowDown 1s ease-in-out alternate infinite;
    margin-left: 5px;
   
}

.imgProfile {
    width: 350px;
    height: 350px;
}
/** Início do conteúdo primário (HOME) **/


/**Botões flutuantes **/
.socialMedia-float {
    display: none;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-right: 55px;
    z-index: 999;
}

.sm--components{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}


.sm--items {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    transition: 0.5s;
    border: none;
    opacity: 50%;
}

.sm--items:hover {
    opacity: 1;
    transform: scale(1.1);
}

/** Botão --> Rolar Scroll para o topo **/
.btn-up{
    display: none;
    position: fixed;
    padding: 0px 20px;
    bottom: 5%;
    z-index: 10;
    opacity: 0.6;
    transition: .3s ease-in-out;
}

.btnUp{
    background-color: #000000;
    color:#ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

}
.btn-up:hover{
    opacity: 1;
    }

@keyframes arrowUpScroll{
    to{
        transform: translateY(5px);
    }
}

.btnUp{
    animation: arrowUpScroll 1s ease-in-out alternate infinite;
}

/** FIM ---> Botões flutuantes **/




/** Início do conteúdo secundário - About us **/

.section--aboutUs{
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
}

.image--aboutUs{
    height: auto;
    width: 250px;
    margin-right: 10px;
    border-radius: 50%;
    border: 4px solid #7bcb92d5;
}



.aboutUs-components{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    background: rgba(0, 0, 0, 0.4);
   
}


.aboutUs-texts {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.text-aboutUs {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    width: 70%;
}

.text-aboutUs h2{
font-size: 26px;
margin-bottom: 15px;
}

.text-aboutUs p{
font-size: 16px;

}

.text-aboutUs p:nth-child(3) {
    margin-top: 20px;
}

/** Fim do conteúdo secundário -- aboutUs **/

/**section--projetos**/
.section--projects{
    margin-top: 150px;
    width: 100%;
}

.home--projects{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}
.ilustration--projects{
    width: 500px;
    height: auto;
}

.projects--area{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 60px;
padding: 20px;
gap: 100px;
}

.image-projects{
    width: 100%;
    height: auto;
}


.img--project {
    width: 400px;
    height: 240px;
    border-radius: 17px;
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.1);
}

.components--cards{
display: flex;
width: 950px;
align-items: center;
gap: 30px;

}

.projects--texts{
    width: 100%;
}

#title-projects{
    font-size: 3em;
    font-weight: 600;
    color: aliceblue;
    font-family: 'Cabin', sans-serif;
}


.name--site{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;

}

.projects--descriptions{
    margin-top: 8px;
    width: 530px;
    color: #ffffff;
}


.p-data-sheet-description{
    display: none;
    margin-top: 8px;
    width: 530px;
    color: #ffffff;
}

.p-data-sheet-description.isActive{
display: block;
}

.projects--descriptions.isHidden{
    display: none;
}



#projects--techs,
#projects--function{
    color: #ffffff;
    margin-top: 15px;

}

    

.btn-project-view{
    cursor: pointer;
    margin-top: 8px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #E4E6E7;
    background-color: #263338;
    color: #ffffff;
    font-weight: 500;
    
}


.btn-data-sheet{
    cursor: pointer;
    margin-top: 8px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 2px;
    border: 2px solid #E4E6E7;
    background-color: #263338;
    color: #ffffff;
    font-weight: 500;
}

.btn-data-sheet i{
    font-size: 18px;
}


.btn-project-github{
    cursor: pointer;
    margin-top: 8px;
    width: 184px;
    height: 30px;
    border: 2px solid #E4E6E7;
    background-color: #263338;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
}


.btn-project-github i{
font-size: 18px;
}


.font-btn-view,.font-project-github,.github-footer:visited{
color: #ffffff;
}

.img--project:hover {
    transform: scale(1.1);
}

/** fim--section--projetos**/


/**início--rodapé**/

footer{
padding: 10px;
margin-top: 100px;
height: 250px;
width: 100%;
background-color: #2E2E2E;
border-top: 2px solid #5c5e5c ;
box-shadow: 8px 8px 15px #919191;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

.title--footer{
color: #ffffff;
font: 1em;
align-self: center;

}

.contatos--redes{
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 35px;
    
}
.contacts--icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.description--contact{
    position: relative;
    display: flex;
    align-items: center;
   
}

.description--contact::before{
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    width: 0%;
    background-color: #268a44;
    bottom: -5px;
    transition: .3s ease-in-out;
}

.description--contact:hover::before{
    width: 100%;
    color:#181818;
}

.icons--footer:hover{
    color:#181818;
    transition: .3s ease-in-out;
}


.icons--footer{
    font-size:40px;
    color: #ffffff;
    position: relative;
  
}



.footer--text{
 display: flex;
align-items: center;
gap: 7px;
margin-top: 20px;
align-self: center;
color: #ffffff;

}

.contacts--footer-email{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    align-items: center;
    gap: 10px;
}


.email--footer{
display: flex;
align-items: center;
gap: 10px;

}

.email--footer i{
font-size: 2em;
}
.email--footer{
font-size: 1em;
color: #ffffff;
transition: .5s ease-in;
}

.email--footer:hover{
color: #268a44;
}
.github-footer{
    font-size: 1em;
    transition: .5s ease-in-out;
}
.github-footer:hover{
color: #268a44;
}


/**Fim--rodapé**/